<%= form_for(@constituencies_voivodship) do |f| %>
  <% if @constituencies_voivodship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@constituencies_voivodship.errors.count, "error") %> prohibited this constituencies_voivodship from being saved:</h2>

      <ul>
      <% @constituencies_voivodship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :constituency_id %><br>
    <%= f.number_field :constituency_id %>
  </div>
  <div class="field">
    <%= f.label :voivodship_id %><br>
    <%= f.number_field :voivodship_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
