<h1>Listing constituencies_voivodships</h1>

<table>
  <thead>
    <tr>
      <th>Constituency</th>
      <th>Voivodship</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @constituencies_voivodships.each do |constituencies_voivodship| %>
      <tr>
        <td><%= constituencies_voivodship.constituency_id %></td>
        <td><%= constituencies_voivodship.voivodship_id %></td>
        <td><%= link_to 'Show', constituencies_voivodship %></td>
        <td><%= link_to 'Edit', edit_constituencies_voivodship_path(constituencies_voivodship) %></td>
        <td><%= link_to 'Destroy', constituencies_voivodship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Constituencies voivodship', new_constituencies_voivodship_path %>
