<h1>Listing committees_logos</h1>

<table>
  <thead>
    <tr>
      <th>Committee</th>
      <th>Logo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @committees_logos.each do |committees_logo| %>
      <tr>
        <td><%= committees_logo.committee_id %></td>
        <td><%= committees_logo.logo_id %></td>
        <td><%= link_to 'Show', committees_logo %></td>
        <td><%= link_to 'Edit', edit_committees_logo_path(committees_logo) %></td>
        <td><%= link_to 'Destroy', committees_logo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Committees logo', new_committees_logo_path %>
