<p id="notice"><%= notice %></p>

<p>
  <strong>Committee:</strong>
  <%= @committees_logo.committee_id %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @committees_logo.logo_id %>
</p>

<%= link_to 'Edit', edit_committees_logo_path(@committees_logo) %> |
<%= link_to 'Back', committees_logos_path %>
