<p id="notice"><%= notice %></p>

<p>
  <strong>Committee:</strong>
  <%= @committees_voivodship.committee_id %>
</p>

<p>
  <strong>Voivodship:</strong>
  <%= @committees_voivodship.voivodship_id %>
</p>

<%= link_to 'Edit', edit_committees_voivodship_path(@committees_voivodship) %> |
<%= link_to 'Back', committees_voivodships_path %>
